.deck-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.deck-display-title {
  background-image: linear-gradient(
    to bottom right,
    var(--medium-bg),
    var(--dark-bg));
  color: var(--light-txt);
  padding: 8px;
  width: 100%;
}