.toggle-container {
  align-items: flex-end;
  color: var(--light-txt);
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: 25px;
  width: 180px;
}

/* CONTROLANDO A APARÊNCIA DO BOTÃO */
.toggle-button {
  background-color: var(--dark-bg);
  border: 1px solid var(--light-txt);
  border-radius: 6px;
  cursor: pointer;
  height: 50px;
  position: relative;
  transition: 0.7s;
  width: 50px;
  z-index: 100;
}

.line {
  background-color: var(--light-txt);
  border-radius: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  right: 7px;
  transition: 0.7s;
  width: 36px;
}

.line::before {
  background-color: var(--light-txt);
  border-radius: 6px;
  content: '';
  height: 6px;
  position: absolute;
  top: -12px;
  transition: 0.7s;
  width: 36px;
}

.line::after {
  background-color: var(--light-txt);
  border-radius: 6px;
  content: '';
  height: 6px;
  position: absolute;
  top: 12px;
  transition: 0.7s;
  width: 36px;
}

.toggle-button.active {
  border-color: rgb(238, 226, 121);
}

.toggle-button.active .line {
  background-color: transparent;
}

.toggle-button.active .line::before {
  top: 0;
  transform: rotate(135deg);
  transform-origin: 18px;
  background: rgb(238, 226, 121);
}

.toggle-button.active .line::after {
  top: 0;
  transform: rotate(225deg);
  transform-origin: 18px;
  background: rgb(238, 226, 121);
}


/* CONTROLANDO A APARÊNCIA DO MENU */
.links {
  animation: slideUp 0.4s;
  background-color: rgba(79, 15, 95, 0.7);
  border-radius: 6px;
  height: 0;
  margin-top: 23px;
  width: 100%;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links ul li {
  opacity: 0;
}

.links .link {
  color: inherit;
  font-size: 1.4em;
  opacity: 0;
  text-decoration: none;
}

.links.active {
  align-items: flex-start;
  animation: slideDown 0.4s;
  display: flex;
  height: 360px;
  justify-content: center;
  z-index: 100;
}

.links.active ul li {
  animation: revealText 1.2s;
  line-height: 1.6em;
  margin: 16px;
  opacity: 1;
}

.links.active ul li:hover {
  font-weight: 400;
  color: var(--light-bg);
  text-shadow: 1px 1px 1px rgb(238, 226, 121);
}

.links.active .link {
  color: inherit;
  font-size: 1.4em;
  opacity: 1;
  text-decoration: none;
  transition: 0.3s;
}

@keyframes slideDown {
  from { height: 0; }
  to   { height: 360px; }
}

@keyframes revealText {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideUp {
  from { height: 360px; }
  to   { height: 0; }
}