.App {
  background-attachment: fixed;
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-repeat: space;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
}
