:root {
  --dark-bg: rgb(79, 15, 95);
  --heavy-bg: rgb(101, 43, 116);
  --medium-bg: rgb(215, 121, 238);
  --light-bg: rgb(202, 186, 202);
  --light-txt: rgb(223, 211, 223);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
